@font-face {
    font-family: 'Woolwich';
    src: url(../fonts/Woolwich.otf) format('opentype');
  }

html {
    font-family: 'Woolwich';
    font-size: 16px;
    background-color: #5E835D;
    display: flex;
    max-width: 960px;
    color: #1a1a1a;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

div {
    display: flex;
    flex-direction: column;
}

/* Body */

body {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
}

div.wrapper {
    width: calc(100% - 4rem);
    max-width: 960px;
    margin: 0 auto;
}

header img {
    height: 3.215rem;
}

/* Main content */

div.main-content {
    align-items: center;
    text-align: center;
}

img.hero {
    max-width: 15rem;
    height: auto;
}

div.pin
{
    display: flex;
    align-items: center;

}

.pin img {
    height: 147px;
    width: 84px;
    
}

/* Footer */

footer {
    width: 100%;
    background-color: #D9D9D9;
    margin-top: 6rem; /*To offset for fixed nav */
    line-height: 1rem;
    margin-left: 0px;
    display: flex;
    align-items: space-between;
}

footer nav {
    width: 100%;
    display: flex;
    vertical-align: middle; 
    position: fixed;
    bottom: 0rem;
    z-index: 100;
    margin: 0%;
    justify-content: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #D9D9D9;
    border-top: solid 3px black;
}

footer img {
    width: 50px;
    padding: 0rem .75rem;
}